# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# Dataset (too large for git)
*.csv
truestate_assignment*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Debug
*.pem
